//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header,
.site-footer {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-content {
	margin: rem(20) auto;

	@include media($desktop) {
		margin: rem(40) auto rem(60);
	}
}

// Set row & column defaults.
.row,
.column {
	@include clearfix;
}

// Full width column.
.column-full-width {
	@include outer-container;
}

// Two-thirds width column.
.column-two-thirds {
	@include column(8, $gutter, $tablet-portrait);
}

// One-half width column.
.column-one-half {
	@include column(6, $gutter, $tablet-portrait);
}

// One-third width column.
.column-one-third {
	@include column(4, $gutter, $tablet-portrait);
}

// One-quarter width column.
.column-one-quarter {
	@include column(3, $gutter, $tablet-portrait);
}

// One-fifth width column.
.column-one-fifth {
	@include column(2.4, $gutter, $tablet-portrait);
}

.primary {
	@extend .column-two-thirds;
}

.secondary {
	@extend .column-one-third;
}